<a href="https://colab.research.google.com/github/thecodemancer/study-with-me/blob/main/python/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4cc34fa4-a81a-4fb8-8cce-99f1678e8124/d3kiq5p-1d1fc0d4-7414-41aa-b347-80023b8e4664.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRjYzM0ZmE0LWE4MWEtNGZiOC04Y2NlLTk5ZjE2NzhlODEyNFwvZDNraXE1cC0xZDFmYzBkNC03NDE0LTQxYWEtYjM0Ny04MDAyM2I4ZTQ2NjQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.08JA-oYNuopwKjxyuACHIlUif3WGo4Dqa0c9ztN2-Gc" 
width="200px" />
</center>

# Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.3.5'

## Series

Pandas provides access to a DataFrame data structure and a Series data structure. First, we'll briefly look at the Series data structure, since each column in a DataFrame could be considered a Series as well.

A Series object is an array of data with axis labels or index values. Notice that when we display Series, we can see the index values on the left and the Series values on the right.

In [3]:
vals = np.array([1,2,3,4,5])
idxs = np.array(["a","b","c","d","e"])

my_series = pd.Series(vals, idxs)
my_series

a    1
b    2
c    3
d    4
e    5
dtype: int64

Inside Series, we can get the values with the .value attribute and the index with the .index attribute.

In [4]:
my_series.values

array([1, 2, 3, 4, 5])

In [5]:
my_series.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

We can subset a Series with specific values like a or with numeric index values. Take a look at the following example, which returns the same Series in a subset.

In [6]:
my_series[0:2]

a    1
b    2
dtype: int64

In [7]:
my_series[["a","b"]]

a    1
b    2
dtype: int64

### Pandas Dataframe

DataFrames can be thought of as 2D NumPy arrays with more features, such as indexing options and column headers, among others.

We reload the Iris dataset with the Pandas read_csv() function, which allows us to load data into a DataFrame. The default delimiter is the comma, although it can be modified. Shape is an attribute that indicates the dimensions of the DataFrame.

#### Load external data with Pandas

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import os
parent_path = os.path.dirname(os.getcwd())
import pandas as pd
#data_path = parent_path + "/data/iris.csv"
data_path = parent_path + "/content/drive/MyDrive/Datasets/Iris.csv"

In [10]:
df = pd.read_csv(data_path)
df.shape

(150, 6)

We can use .head() to see the first five rows and .tail() to see the last five. If we include an integer, we specify the number of columns we want to display.

In [11]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [13]:
df.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

Pandas columns have data types, such as integer or floating point. The type of data affects everything from subsetting to the way machine learning models interpret the data. Column data types can be accessed with the .dtypes attribute.

In [14]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

The data type of a column can be changed with the .astype method. The parameter will be the new data type.

In [15]:
df["SepalLengthCm"]  = df["SepalLengthCm"].astype(str)

In [16]:
df.dtypes

Id                 int64
SepalLengthCm     object
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [17]:
df["SepalLengthCm"]  = df["SepalLengthCm"].astype(float)

In [18]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

We can access the column names with the .columns attribute.

In [19]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

Note that id is read as a column. We can make a column the index with the .set_index method.

In [20]:
df = df.set_index("Id")
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

Note that id is read as a column. We can make a column the index with the .set_index method.

In [21]:
df.columns = ["a", "b", "c", "d", "e"]

In [22]:
df.head()

      a    b    c    d            e
Id
1   5.1  3.5  1.4  0.2  Iris-setosa
2   4.9  3.0  1.4  0.2  Iris-setosa
3   4.7  3.2  1.3  0.2  Iris-setosa
4   4.6  3.1  1.5  0.2  Iris-setosa
5   5.0  3.6  1.4  0.2  Iris-setosa

To access columns, we enclose the column name in square brackets. Accessing a column results in a Series. Selecting multiple columns at the same time returns a DataFrame.

In [23]:
df["a"]

Id
1      5.1
2      4.9
3      4.7
4      4.6
5      5.0
      ...
146    6.7
147    6.3
148    6.5
149    6.2
150    5.9
Name: a, Length: 150, dtype: float64

In [24]:
df[["a", "b"]]

       a    b
Id
1    5.1  3.5
2    4.9  3.0
3    4.7  3.2
4    4.6  3.1
5    5.0  3.6
..   ...  ...
146  6.7  3.0
147  6.3  2.5
148  6.5  3.0
149  6.2  3.4
150  5.9  3.0

[150 rows x 2 columns]

#### Delete columns

Columns can be dropped with the .drop method.
Specifying the axis to 1 tells Pandas to look for items to remove in columns, rather than rows. A column name or a list of column names can be passed as a parameter. You must specify which columns are to be removed.

In [25]:
df_1 = df.drop("a", axis = 1)
df_1.head()

      b    c    d            e
Id
1   3.5  1.4  0.2  Iris-setosa
2   3.0  1.4  0.2  Iris-setosa
3   3.2  1.3  0.2  Iris-setosa
4   3.1  1.5  0.2  Iris-setosa
5   3.6  1.4  0.2  Iris-setosa

In [26]:
df_2 = df.drop(["a", "b"], 1)
df_2.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

      c    d            e
Id
1   1.4  0.2  Iris-setosa
2   1.4  0.2  Iris-setosa
3   1.3  0.2  Iris-setosa
4   1.5  0.2  Iris-setosa
5   1.4  0.2  Iris-setosa

iloc[] selects the indices via the same method used to subset NumPy 2D arrays: iloc[rows,columns].

Note that the index starts at 1, as we used the id column in the iris.csv file earlier. We introduce the reset_index() method to reset the index to 0 as we start using iloc.

In [27]:
df.head()

      a    b    c    d            e
Id
1   5.1  3.5  1.4  0.2  Iris-setosa
2   4.9  3.0  1.4  0.2  Iris-setosa
3   4.7  3.2  1.3  0.2  Iris-setosa
4   4.6  3.1  1.5  0.2  Iris-setosa
5   5.0  3.6  1.4  0.2  Iris-setosa

In [28]:
df = df.reset_index()

In [29]:
df.head()

   Id    a    b    c    d            e
0   1  5.1  3.5  1.4  0.2  Iris-setosa
1   2  4.9  3.0  1.4  0.2  Iris-setosa
2   3  4.7  3.2  1.3  0.2  Iris-setosa
3   4  4.6  3.1  1.5  0.2  Iris-setosa
4   5  5.0  3.6  1.4  0.2  Iris-setosa

#### .iloc and .loc

In the following example we will get the first row and all the columns.

In [30]:
df.iloc[0]

Id              1
a             5.1
b             3.5
c             1.4
d             0.2
e     Iris-setosa
Name: 0, dtype: object

We can also introduce a list of index values to a subset.

In [31]:
df.iloc[[0,1]]

   Id    a    b    c    d            e
0   1  5.1  3.5  1.4  0.2  Iris-setosa
1   2  4.9  3.0  1.4  0.2  Iris-setosa

The following example will return the first five rows and only the first column.

In [32]:
df.iloc[0:5,0:1]

   Id
0   1
1   2
2   3
3   4
4   5

Instead of separating with a colon, we could use lists to specify which index and column values we want to put in the subset.

In [33]:
df.iloc[[1],[0,1]]

   Id    a
1   2  4.9

If we have an index of a string, we can use .loc to do subsets. Here's the difference between .loc and .iloc with a DataFrame that contains a character-based index.

Note that .iloc would be more difficult to use if we don't know the position of the index and if we had millions of rows of data. In that case it would be more efficient to use .loc.

In [34]:
tmp = pd.DataFrame([[1,2,3],[3,4,5]], index = ["a", "b"])
tmp

   0  1  2
a  1  2  3
b  3  4  5

In [35]:
tmp.loc["a"]

0    1
1    2
2    3
Name: a, dtype: int64

In [36]:
tmp.iloc[0]

0    1
1    2
2    3
Name: a, dtype: int64

In [37]:
tmp.loc[["a", "b"]]

   0  1  2
a  1  2  3
b  3  4  5

#### Descriptive Statistics

With the .describe() method, summary statistics are obtained to understand how the data is arranged.

In [38]:
df.head()

   Id    a    b    c    d            e
0   1  5.1  3.5  1.4  0.2  Iris-setosa
1   2  4.9  3.0  1.4  0.2  Iris-setosa
2   3  4.7  3.2  1.3  0.2  Iris-setosa
3   4  4.6  3.1  1.5  0.2  Iris-setosa
4   5  5.0  3.6  1.4  0.2  Iris-setosa

In [39]:
df.describe()

               Id           a           b           c           d
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean    75.500000    5.843333    3.054000    3.758667    1.198667
std     43.445368    0.828066    0.433594    1.764420    0.763161
min      1.000000    4.300000    2.000000    1.000000    0.100000
25%     38.250000    5.100000    2.800000    1.600000    0.300000
50%     75.500000    5.800000    3.000000    4.350000    1.300000
75%    112.750000    6.400000    3.300000    5.100000    1.800000
max    150.000000    7.900000    4.400000    6.900000    2.500000

The correlate method will create a correlation matrix for each column of our DataFrame.

In [40]:
df.corr()

          Id         a         b         c         d
Id  1.000000  0.716676 -0.397729  0.882747  0.899759
a   0.716676  1.000000 -0.109369  0.871754  0.817954
b  -0.397729 -0.109369  1.000000 -0.420516 -0.356544
c   0.882747  0.871754 -0.420516  1.000000  0.962757
d   0.899759  0.817954 -0.356544  0.962757  1.000000

#### Sums of rows and columns

As with NumPy arrays, we can do calculations across rows and columns with the axis argument. Instead of giving us a NumPy array as a result, it returns a Series. In the following example we show you the sum operation, although we can do others like max or mean. This is similar to what we saw in NumPy.

In [41]:
df.sum(axis = 0)

Id                                                11325
a                                                 876.5
b                                                 458.1
c                                                 563.8
d                                                 179.8
e     Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

In [42]:
df.sum(axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0       11.2
1       11.5
2       12.4
3       13.4
4       15.2
       ...
145    163.2
146    162.7
147    164.7
148    166.3
149    165.8
Length: 150, dtype: float64

We add a column with the syntax DataFrame[column_name] = values. Next, we set the variable to be equal to 5.

In [43]:
df["new_col"] = 5
df.head()

   Id    a    b    c    d            e  new_col
0   1  5.1  3.5  1.4  0.2  Iris-setosa        5
1   2  4.9  3.0  1.4  0.2  Iris-setosa        5
2   3  4.7  3.2  1.3  0.2  Iris-setosa        5
3   4  4.6  3.1  1.5  0.2  Iris-setosa        5
4   5  5.0  3.6  1.4  0.2  Iris-setosa        5

#### Add columns

We can also set column values using a list. In the following example, we use a list comprehension, and with the range function, we make a column for 0-149.

In [44]:
df["new_col_1"] = [x for x in range(150)]

In [45]:
df.head()

   Id    a    b    c    d            e  new_col  new_col_1
0   1  5.1  3.5  1.4  0.2  Iris-setosa        5          0
1   2  4.9  3.0  1.4  0.2  Iris-setosa        5          1
2   3  4.7  3.2  1.3  0.2  Iris-setosa        5          2
3   4  4.6  3.1  1.5  0.2  Iris-setosa        5          3
4   5  5.0  3.6  1.4  0.2  Iris-setosa        5          4

#### Subsets

DataFrames can be subset by setting rules. To do so, we use square brackets. Take a look at the following example, which will return a True if the condition is met or a False if it is not. We can pass this Boolean Series with square brackets to make a subset of the DataFrame.

In [46]:
df["a"] > 6

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149    False
Name: a, Length: 150, dtype: bool

In [47]:
tmp = df[df["a"] > 6]
tmp.shape

(61, 8)

We can also use the & sign to specify that rules 1 and 2 have to be met.

In [48]:
tmp_1 = df[((df["a"] > 6) & (df["b"] > 3))]
tmp_1.shape

(23, 8)

We could replace & with | to specify that rules 1 or 2 must be met. The signs & and | they let us stack several criteria to filter.

In [49]:
tmp_2 = df[((df["a"] > 6) | (df["b"] > 3))]
tmp_2.shape

(105, 8)

The .isin method filters a DataFrame by specifying that a column's value must be in a list of items. Take a look at the following example. We filter the DataFrame by columns, where column e is "Iris-setosa" or "Iris-versicolor". This is useful if we have a very long list of items to filter. In the example we could just write two rules and separate them with |, but in many cases it would not be profitable to write all our rules.

In [50]:
df.head()

   Id    a    b    c    d            e  new_col  new_col_1
0   1  5.1  3.5  1.4  0.2  Iris-setosa        5          0
1   2  4.9  3.0  1.4  0.2  Iris-setosa        5          1
2   3  4.7  3.2  1.3  0.2  Iris-setosa        5          2
3   4  4.6  3.1  1.5  0.2  Iris-setosa        5          3
4   5  5.0  3.6  1.4  0.2  Iris-setosa        5          4

In [51]:
tmp_3 = df[df["e"].isin(["Iris-setosa", "Iris-versicolor"])]
tmp_3.shape

(100, 8)

We can also use the str.contains method to filter rows where a column has certain strings. In this example we filter rows where column e contains the string "setosa".

In [52]:
tmp_4 = df[df["e"].str.contains("setosa")]
tmp_4.shape

(50, 8)

The ~ symbol inside square brackets is used to convert True to False, and vice versa. Therefore, the DataFrame will be a subset for the inverse of the rule.

In [53]:
tmp_5 = df[~df["e"].str.contains("setosa")]
tmp_5.shape

(100, 8)

In [54]:
tmp_6 = df[(df["a"] > 6) & (df["b"] > 3)]
tmp_6.shape

(23, 8)

In [55]:
tmp_7 = df[~((df["a"] > 6) & (df["b"] > 3))]
tmp_7.shape

(127, 8)

#### Combinations and concatenations

To demonstrate how to combine or concatenate DataFrames in Pandas, we will create several test DataFrames.

In [56]:
columns = ["a","b"]

a = pd.DataFrame([[1,1], [2,2]], columns = columns)
b = pd.DataFrame([[3,3], [4,4]], columns = columns)
c = pd.DataFrame([[5,5], [6,6]], columns = columns)

In [57]:
a

   a  b
0  1  1
1  2  2

In [58]:
b

   a  b
0  3  3
1  4  4

In [59]:
c

   a  b
0  5  5
1  6  6

With the concat function we can pass a list of DataFrames and stack it vertically. Note that when we stack DataFrames the index is no longer unique, so it's a good idea to call the reset_index() method afterwards.

In [60]:
d = pd.concat([a,b,c])
d

   a  b
0  1  1
1  2  2
0  3  3
1  4  4
0  5  5
1  6  6

In [61]:
d = d.reset_index(drop = True)
d

   a  b
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6

Note that the columns are not the same in each DataFrame. The concat functionality will return nulls for cells that have no value.

In [62]:
columns = ["a","b"]

a = pd.DataFrame([[1,1], [2,2]], columns = columns)
b = pd.DataFrame([[3,3], [4,4]], columns = ["e", "f"])

d = pd.concat([a,b]).reset_index(drop = True)
d

     a    b    e    f
0  1.0  1.0  NaN  NaN
1  2.0  2.0  NaN  NaN
2  NaN  NaN  3.0  3.0
3  NaN  NaN  4.0  4.0

If we change the axis to 1, the DataFrames are stacked vertically.

In [63]:
columns = ["a","b"]

a = pd.DataFrame([[1,1], [2,2]], columns = columns)
b = pd.DataFrame([[3,3], [4,4]], columns = ["e", "f"])

d = pd.concat([a,b], axis = 1).reset_index(drop = True)
d

   a  b  e  f
0  1  1  3  3
1  2  2  4  4

To show the combinations in Pandas we will create two DataFrames. When we do that we can introduce a dictionary where the keys are the column names and the values are the cell values. Next, we use NumPy arrays to store the values for each column.

In [64]:
col_1 = np.array(["A", "B", "C", "D", "E"])
col_2 = np.array(["A", "B", "C"])

a = pd.DataFrame({
    "col_1":col_1,
    "col_1_ind":1
})

b = pd.DataFrame({
    "col_1":col_2,
    "col_2_ind":1
})

a

  col_1  col_1_ind
0     A          1
1     B          1
2     C          1
3     D          1
4     E          1

In [65]:
b

  col_1  col_2_ind
0     A          1
1     B          1
2     C          1

We can combine DataFrames with the merge method. In this method, the first parameter is the DataFrame itself, which will be the "right dataframe" or data frame of the row on the right. The how parameter specifies the type of join to do, while left_on and right_on refer to the columns to join. If the column names are consistent, simply use the on parameter.

In [66]:
a.merge(b, how = "inner", left_on = "col_1", right_on = "col_1")

  col_1  col_1_ind  col_2_ind
0     A          1          1
1     B          1          1
2     C          1          1

In [67]:
a.merge(b, how = "inner", on = "col_1")

  col_1  col_1_ind  col_2_ind
0     A          1          1
1     B          1          1
2     C          1          1

Next, we perform a left join, that is, show the values of the left dataframe or data frame on the left, or from a in this case.

In [68]:
c = a.merge(b, how = "left", left_on = "col_1", right_on = "col_1")
c

  col_1  col_1_ind  col_2_ind
0     A          1        1.0
1     B          1        1.0
2     C          1        1.0
3     D          1        NaN
4     E          1        NaN

#### Deal with null values

In the previous example we saw that Pandas returns nulls when there is nothing to match in the combination. We can use the .isnull() method to see which cells are nullable.

In [69]:
c.isnull()

   col_1  col_1_ind  col_2_ind
0  False      False      False
1  False      False      False
2  False      False      False
3  False      False       True
4  False      False       True

We can then concatenate the sum method to the isnull method and find the number of null values for each column. Trues are treated as ones and Falses as zeros. When we add and see a value greater than zero we know there are nulls in that column.

In [70]:
c.isnull().sum()

col_1        0
col_1_ind    0
col_2_ind    2
dtype: int64

Null values can be "filled" with the fillna method, which includes the value to use as a parameter.

In [71]:
c.fillna(0)

  col_1  col_1_ind  col_2_ind
0     A          1        1.0
1     B          1        1.0
2     C          1        1.0
3     D          1        0.0
4     E          1        0.0

We could also use the .dropna method to drop columns that have null values.

In [72]:
c.dropna()

  col_1  col_1_ind  col_2_ind
0     A          1        1.0
1     B          1        1.0
2     C          1        1.0

We will treat null values according to the problem we need to solve. In the last example we've seen, we pad nulls with a zero, but that might not be the most appropriate way to deal with nulls in another situation.

#### Add data to files

Pandas offers a wide variety of options to add data in csv or excel files. The to_csv and to_excel methods are used to write a DataFrame to either file.

In [73]:
df.head(1)

   Id    a    b    c    d            e  new_col  new_col_1
0   1  5.1  3.5  1.4  0.2  Iris-setosa        5          0

In [74]:
df.to_csv("test.csv")

In [75]:
df.to_excel("test.xlsx")

ExcelWriter opens a connection to an Excel file and moves the DataFrames to different sheets. For example, if we have five DataFrames, we can write each one to a different tab with the to_excel method, passing the ExcelWriter object as the first parameter. When we finish adding the file, we close the connection with the close method.

In [76]:
writer = pd.ExcelWriter('test.xlsx')

In [77]:
df.to_excel(writer, sheet_name='df_1')
df.to_excel(writer, sheet_name='df_2')

In [78]:
writer.close()

Just like we can upload csv files, we upload Excel files with the load_excel function. This function helps us specify the sheet to load into.

## .melt

Take a look at the following DataFrame, where each column refers to a day; each row, to an item, and the cells are units sold by
each day/item pair.

In many cases, this data format is not ideal. For example, putting data into a visualization tool like Tableau is
better if each row of data is at a high level of granularity, that is, with as much detail as possible. This assumes that using the format
item/day/value is better.

To achieve this functionality we can take advantage of Pandas .melt function.

In [81]:
columns = np.array(["day_1", "day_2", "day_3"])
index = np.array(["item_1", "item_2"])
data = np.array([[2,5,1], [8,6,9]])
df = pd.DataFrame(data, columns = columns, index = index)
df

        day_1  day_2  day_3
item_1      2      5      1
item_2      8      6      9

We will first reset the index to make it a column called index

In [82]:
df = df.reset_index()
df

    index  day_1  day_2  day_3
0  item_1      2      5      1
1  item_2      8      6      9

In the following example, the id_vars are identifiers and the value_vars are the columns to modify. Consider id_vars as a key that will take the values of the "index" column and match them with each of the column names we're removing ("day_1", "day_2", "day_3").

Notice that we end up with one row for each id_vars and value_vars column. Our possible id_vars are item_1 and item_2. Our value_vars columns are day_1, day_2, day_3. So, plotting all possible combinations, we get a column for item_1/day_1, item_1/day_2, item_1/day_3, and item_2 as well.

In [83]:
pd.melt(df, id_vars = "index", value_vars = ["day_1", "day_2", "day_3"])

    index variable  value
0  item_1    day_1      2
1  item_2    day_1      8
2  item_1    day_2      5
3  item_2    day_2      6
4  item_1    day_3      1
5  item_2    day_3      9

In the following example we create another DataFrame and use the item and variation columns as id_vars. In the end, we get as result all possible combinations of item and variation.

In [88]:
columns = np.array(["day_1", "day_2", "day_3"])
items = np.array(["item_1", "item_2"])
variations = np.array(["variation_1", "variation_2"])
data = np.array([[2,5,1], [8,6,9]])
df = pd.DataFrame(data, columns = columns)
df["item"] = items
df["variation"] = variations
df

   day_1  day_2  day_3    item    variation
0      2      5      1  item_1  variation_1
1      8      6      9  item_2  variation_2

Note that we don't have to specify the value_vars, as Pandas assumes they will be columns that are not in the id_vars. In the following example we end up with a row for each variation and specific item and with a specific column of days

In [89]:
pd.melt(df, id_vars = ["item", "variation"])

     item    variation variable  value
0  item_1  variation_1    day_1      2
1  item_2  variation_2    day_1      8
2  item_1  variation_1    day_2      5
3  item_2  variation_2    day_2      6
4  item_1  variation_1    day_3      1
5  item_2  variation_2    day_3      9

With .melt we go from a wide format (many columns) to a long format (few columns, but many rows). This is useful for adjusting the structure of a DataFrame.

## .pivot

The .pivot function allows us to move the data from one column to several. For this to happen, each value in that initial column is passed to a column of its own. In the following example, index will be what we will pivot on and will have the values item_1 or 2, so we will have two rows in our DataFrame. Variable takes the values day_1, day_2, or day_3, so we end up with three columns in our DataFrame. Value will be the corresponding value that is put in each cell.

In [90]:
columns = np.array(["day_1", "day_2", "day_3"])
index = np.array(["item_1", "item_2"])
data = np.array([[2,5,1], [8,6,9]])
df = pd.DataFrame(data, columns = columns, index = index)
df = df.reset_index()
melted = pd.melt(df, id_vars = "index")
melted

    index variable  value
0  item_1    day_1      2
1  item_2    day_1      8
2  item_1    day_2      5
3  item_2    day_2      6
4  item_1    day_3      1
5  item_2    day_3      9

In [91]:
melted.pivot(index = "index", columns = "variable", values = "value")

variable  day_1  day_2  day_3
index
item_1        2      5      1
item_2        8      6      9

.pivot does the opposite of .melt, that is, it recasts the data to produce a table based on column names.

## Pivot_table

Like Excel, Pandas has a .pivot_table function with which data can be added quickly. Next, we have a
DataFrame in which each value of the index is item_1 and the units that are sold on a specific day are considered as a variable.

We want to know how many units have been sold each day, so we use the .pivot_table function to input each value
specific in the index (in our case, the only value is item_1) and in the specific variable (day_1, day_2, day_3)

In [93]:
columns = np.array(["day_1", "day_2", "day_3"])
index = np.array(["item_1", "item_1"])
data = np.array([[2,5,1], [8,6,9]])
df = pd.DataFrame(data, columns = columns, index = index)
df = df.reset_index()
melted = pd.melt(df, id_vars = "index")
melted

    index variable  value
0  item_1    day_1      2
1  item_1    day_1      8
2  item_1    day_2      5
3  item_1    day_2      6
4  item_1    day_3      1
5  item_1    day_3      9

In [94]:
melted.pivot_table(index = "index", columns = "variable", values = "value", aggfunc = "sum")

variable  day_1  day_2  day_3
index
item_1       10     11     10

pivot_table allows us to translate multiple aggfunc's into a list and returns a two-level header structure.

In [95]:
pivot_t = melted.pivot_table(index = "index", columns = "variable", values = "value", aggfunc = ["sum", "median", "mean"])
pivot_t

           sum             median              mean
variable day_1 day_2 day_3  day_1 day_2 day_3 day_1 day_2 day_3
index
item_1      10    11    10    5.0   5.5   5.0   5.0   5.5   5.0

In two-level headers, each column is represented as a tuple. In the above case, each column is a combination of a variable (day_1, day_2, day_3) and one of the aggfunc. We can access that column with the tuple as a column identifier. A quick way to fit this structure is to concatenate each tuple into a string.

In [96]:
pivot_t.columns

MultiIndex([(   'sum', 'day_1'),
            (   'sum', 'day_2'),
            (   'sum', 'day_3'),
            ('median', 'day_1'),
            ('median', 'day_2'),
            ('median', 'day_3'),
            (  'mean', 'day_1'),
            (  'mean', 'day_2'),
            (  'mean', 'day_3')],
           names=[None, 'variable'])

In [97]:
pivot_t[('sum', 'day_1')]

index
item_1    10
Name: (sum, day_1), dtype: int64

.join will take a character, in this case _, and make all the elements in a list or tuple a single string. In the following case (sum, day_1) will join to become sum_day_1.

In [98]:
pivot_t.columns = ["_".join(x) for x in pivot_t.columns]
pivot_t.columns

Index(['sum_day_1', 'sum_day_2', 'sum_day_3', 'median_day_1', 'median_day_2',
       'median_day_3', 'mean_day_1', 'mean_day_2', 'mean_day_3'],
      dtype='object')

In [99]:
pivot_t

,sum_day_1,sum_day_2,sum_day_3,median_day_1,median_day_2,median_day_3,mean_day_1,mean_day_2,mean_day_3
index,,,,,,,,,
item_1,10,11,10,5.0,5.5,5.0,5.0,5.5,5.0

## .get_dummies

In the example below, .get_dummies will create a binary column for each level (in this case, the levels are Star Wars, Los
Avengers, Harry Potter) and make a binary indicator column for each. The 1 in the avengers_favorite_movie column means that the initial value of the favorite_movie column for that user was The Avengers.

In [101]:
df = pd.DataFrame({
  "favorite_movie":np.array(["star_wars", "avengers", "harry_potter"]),
}, index = ["user_1", "user_2", "user_3"])
df

       favorite_movie
user_1      star_wars
user_2       avengers
user_3   harry_potter

.get_dummies creates dummy features for all categorical columns. We see that fav_movie_score does not become
a fictitious feature.

In [102]:
pd.get_dummies(df)

,favorite_movie_avengers,favorite_movie_harry_potter,favorite_movie_star_wars
user_1,0,0,1
user_2,1,0,0
user_3,0,1,0

In some cases, we want to drop one of the columns, referred to as the base case. While it may seem below we are losing the information about who liked the Avengers, we can see for User_2 there values are 0 for all favorite_movie dummy columns. We can infer that because Star Wars and Harry Potter were their favorite movie.

In [103]:
pd.get_dummies(df, drop_first = True)

        favorite_movie_harry_potter  favorite_movie_star_wars
user_1                            0                         1
user_2                            0                         0
user_3                            1                         0

Get dummies will make dummy features for all categorical columns. We see that rating_fav_movie doesn't not get converted into dummy features.

In [104]:
df = pd.DataFrame({
  "favorite_movie":np.array(["star_wars", "avengers", "harry_potter"]),
  "second_favorite_movie":np.array(["avengers", "harry_potter", "star_wars"]),
  "favorite_movie_score":np.array([1,2,3])
}, index = ["user_1", "user_2", "user_3"])
dummy_df = pd.get_dummies(df)
dummy_df

,favorite_movie_score,favorite_movie_avengers,favorite_movie_harry_potter,favorite_movie_star_wars,second_favorite_movie_avengers,second_favorite_movie_harry_potter,second_favorite_movie_star_wars
user_1,1,0,0,1,1,0,0
user_2,2,1,0,0,0,1,0
user_3,3,0,1,0,0,0,1

Dummy features allow us to perform mathematical operations when we have categorical data, something that would not be possible otherwise.

## .groupby

.groupbys adds values to each given column; for example, the sum of each user. The syntax we use is:
dataframe.groupby(group_cols).aggregation_func().

In [105]:
df = pd.DataFrame({
  "user": np.array(["user_1", "user_1", "user_2", "user_2"]),
  "value": np.array([1,5,12,5])
})
df

     user  value
0  user_1      1
1  user_1      5
2  user_2     12
3  user_2      5

In [106]:
df.groupby("user").sum()

        value
user
user_1      6
user_2     17

In [107]:
df.groupby("user").mean()

        value
user
user_1    3.0
user_2    8.5

We can also use .groupby on multiple columns, for example by user and product. Note that the results show a
multilevel index, similar to when we used pivot_table.

In [108]:
df = pd.DataFrame({
  "user": np.array(["user_1", "user_1", "user_1", "user_2", "user_2", "user_2"
]),
  "product": np.array(["a", "a", "b", "b", "b", "a"]),
  "value": np.array([1,5,12,5,3,12])
})
df

     user product  value
0  user_1       a      1
1  user_1       a      5
2  user_1       b     12
3  user_2       b      5
4  user_2       b      3
5  user_2       a     12

In [116]:
grouped_df = df.groupby(["user", "product"]).sum()
grouped_df

                value
user   product
user_1 a            6
       b           12
user_2 a           12
       b            8

In [117]:
grouped_df.index

MultiIndex([('user_1', 'a'),
            ('user_1', 'b'),
            ('user_2', 'a'),
            ('user_2', 'b')],
           names=['user', 'product'])

In [118]:
grouped_df.columns

Index(['value'], dtype='object')

In [124]:
grouped_pivot_table_df = grouped_df.pivot_table(index = "user", columns = "product", values = "value", aggfunc = "sum")
grouped_pivot_table_df

product   a   b
user
user_1    6  12
user_2   12   8

In [125]:
grouped_pivot_table_df.columns = ["_".join(x) for x in grouped_pivot_table_df.columns]
grouped_pivot_table_df.columns

Index(['a', 'b'], dtype='object')

In [126]:
grouped_pivot_table_df

         a   b
user
user_1   6  12
user_2  12   8

In [127]:
grouped_pivot_table_df.reset_index()

     user   a   b
0  user_1   6  12
1  user_2  12   8

## .apply

The .apply function allows us to run row-by-row or column-by-column functions on Pandas DataFrames. In pandas it is
It is common to create an anonymous (lambda) function in apply, rather than declaring a user-defined function and passing it as an argument to the apply function. Recall that the syntax for a lambda is lambda x: do something about x. In this case our block to execute is type(x), which returns the type of x.

It's important to remember that we set the axis to 0 so that each column is passed to the lambda function. So when we call apply, we pass a Series to the lambda function. We have already explained how to work with Series in the previous module.

In [128]:
data = [
 [1,2,3],
 [4,5,6]
]
df = pd.DataFrame(data)
df.columns = ["a", "b", "c"]
df

   a  b  c
0  1  2  3
1  4  5  6

If we set axis = 0 we will receive the type of x, so we know how the operations are performed

In [133]:
df.apply(lambda x: np.max(x), axis = 0 )

a    4
b    5
c    6
dtype: int64

If we don't set the axis it becomes zero by default

In [135]:
df.apply(lambda x: np.max(x) )

a    4
b    5
c    6
dtype: int64

If we invert it, we do np.max for each row, which results in the maximum values of each row: 3 and 6.

In [134]:
df.apply(lambda x: np.max(x), axis = 1 )

0    3
1    6
dtype: int64

We can use .apply to create new columns. To do so, we run .apply(function) on another column. In the example we add 5 to column c and make a new column d with the results included.

In [136]:
df["d"] = df["c"].apply(lambda x: x + 5)
df

   a  b  c   d
0  1  2  3   8
1  4  5  6  11

If we wanted to give each cell in a DataFrame a function, we could use .applymap

In [137]:
df

   a  b  c   d
0  1  2  3   8
1  4  5  6  11

In [138]:
df.applymap(lambda x: x + 5)

   a   b   c   d
0  6   7   8  13
1  9  10  11  16

in this case it is equivalent to write

In [139]:
df + 5

   a   b   c   d
0  6   7   8  13
1  9  10  11  16

We could also create more complex user defined functions to use in our DataFrame

In [141]:
def indicator_func(x):
 if x%2 == 0:
  return "even"
 else:
  return "odd"

In [142]:
df

   a  b  c   d
0  1  2  3   8
1  4  5  6  11

In [143]:
df.applymap(indicator_func)

      a     b     c     d
0   odd  even   odd  even
1  even   odd  even   odd

## Rolling calculations and window functions

Rolling calculations are used to aggregate to a rolling window, for example a three-day moving average of a stock price. Window functions allow us to extend this type of functionality to different data.

You can see below that if we wanted to perform a rolling calculation for each id, we could use a window function.

In this way, we would quickly apply aggregation functions for different "windows" of a DataFrame in one line of code
concise

In [144]:
data = [
 [1,"A","1"],
 [4,"A","2"],
 [1,"A","3"],
 [1,"A","4"],
 [4,"A","5"],
 [1,"A","6"],
 [11,"B","1"],
 [4,"B","2"],
 [15,"B","3"],
 [8,"B","4"],
 [7,"B","5"],
 [4,"B","6"]
]
df = pd.DataFrame(data)
df.columns = ["value", "id", "period"]
df

    value id period
0       1  A      1
1       4  A      2
2       1  A      3
3       1  A      4
4       4  A      5
5       1  A      6
6      11  B      1
7       4  B      2
8      15  B      3
9       8  B      4
10      7  B      5
11      4  B      6

What if we wanted to create a running sum column, but for each specific value in our id column? We can use
groupby on the id column and then apply the rolling function. In this case, we set the period to 2 and then an aggregation function, in this case: sum.

If you look at the DataFrame, you'll see that the two values for id A are 1 and 4. So our first rolling value is 5. Note the NaNs at the beginning. They're there because we can't take a two-period running sum with just one line of data.

In [145]:
df.groupby(["id"]).rolling(2).sum()

       value  period
id
A  0     NaN     NaN
   1     5.0     3.0
   2     5.0     5.0
   3     2.0     7.0
   4     5.0     9.0
   5     5.0    11.0
B  6     NaN     NaN
   7    15.0     3.0
   8    19.0     5.0
   9    23.0     7.0
   10   15.0     9.0
   11   11.0    11.0

This type of functionality can be used to analyze Time Series data, for example moving averages.

In the following example we want to review the three-day moving average of total units sold. We will remove the id column and we will groupby the period to get the units of each period and then use the window function.

In [146]:
ts_df = df.drop("id", 1)
ts_df = ts_df.groupby("period").sum().reset_index()
ts_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

  period  value
0      1     12
1      2      8
2      3     16
3      4      9
4      5     11
5      6      5

In [147]:
ts_df["rolling_3_period_mean"] = ts_df["value"].rolling(3).mean()
ts_df

  period  value  rolling_3_period_mean
0      1     12                    NaN
1      2      8                    NaN
2      3     16              12.000000
3      4      9              11.000000
4      5     11              12.000000
5      6      5               8.333333

We can perform a cumulative sum with a common window function. We execute this on the value column, as you see
continuation:

In [149]:
ts_df["value"].cumsum()

0    12
1    20
2    36
3    45
4    56
5    61
Name: value, dtype: int64

## Datetime and time series data

Next, we have a sample DataFrame with a column of data. We can see that the date column is read as a string or is considered an object.

In [151]:
data = [
  ["2016-01-01", 10],
  ["2016-02-01", 20],
  ["2017-05-01", 15],
  ["2018-01-01", 25],
  ["2019-01-01", 31],
  ["2020-01-01", 42]
]
df = pd.DataFrame(data, columns = ["date", "metric"])
df.dtypes

date      object
metric     int64
dtype: object

In [152]:
df

         date  metric
0  2016-01-01      10
1  2016-02-01      20
2  2017-05-01      15
3  2018-01-01      25
4  2019-01-01      31
5  2020-01-01      42

In Pandas we can use the .to_datetime function and remove the date column to convert it to a Datetime data type.

In [153]:
df["date"] = pd.to_datetime(df["date"])
df.dtypes

date      datetime64[ns]
metric             int64
dtype: object

The Pandas Datetime data type provides several methods for accessing information that is related to that date.

Below you can see some of the ways to access the name of the day (note that this is a method, not a
attribute), year, month and quarter

In [154]:
df["date"].apply(lambda x: x.month)

0    1
1    2
2    5
3    1
4    1
5    1
Name: date, dtype: int64

In [155]:
df["date"].apply(lambda x: x.year)

0    2016
1    2016
2    2017
3    2018
4    2019
5    2020
Name: date, dtype: int64

In [157]:
df["date"].apply(lambda x: x.day_name() )

0       Friday
1       Monday
2       Monday
3       Monday
4      Tuesday
5    Wednesday
Name: date, dtype: object

In [158]:
df["date"].apply(lambda x: x.quarter)

0    1
1    1
2    2
3    1
4    1
5    1
Name: date, dtype: int64

Date columns can be linked to the index of a DataFrame, extending the "select rows" functionality.

In [159]:
df = df.set_index("date")
df

            metric
date
2016-01-01      10
2016-02-01      20
2017-05-01      15
2018-01-01      25
2019-01-01      31
2020-01-01      42

Note that our index is now a Datetime index, which extends other Pandas functionality. For example, we can select rows using dates and times. Next, we select all rows for the year 2016.

In [160]:
df.index

DatetimeIndex(['2016-01-01', '2016-02-01', '2017-05-01', '2018-01-01',
               '2019-01-01', '2020-01-01'],
              dtype='datetime64[ns]', name='date', freq=None)

In [161]:
df["2016"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

            metric
date
2016-01-01      10
2016-02-01      20

Note that the following example would use different conventions to label dates.

In [162]:
df.loc["2016-01-01"]

metric    10
Name: 2016-01-01 00:00:00, dtype: int64

In [163]:
df.loc["January 1, 2016"]

metric    10
Name: 2016-01-01 00:00:00, dtype: int64

In [164]:
df.loc["Jan-1-2016"]

metric    10
Name: 2016-01-01 00:00:00, dtype: int64

In [165]:
df.loc['2016-01-01' : '2017-12-01']

            metric
date
2016-01-01      10
2016-02-01      20
2017-05-01      15

## json data

If you look at the following DataFrame, you will see that there are cells with the value No for index 2 (no job, no city). With the amount of data you work with today, storing all those null values can be expensive. In this case, with such a small data set nothing happens. However, if we had terabytes of data, null values would be very expensive.

Also, with the amount of data that companies store, having data tables with clean and well-made rows and columns requires a lot of time and effort. To speed up this system, some companies save the data in Json format, which does not have a defined scheme of rows and columns. Instead, each item could be thought of as a document.

In [166]:
columns = ["age", "job", "city"]
data = [
  [31, "data scientist", "chicago"],
  [28, "data scientist", "new york"],
  [28,None,None]
]
df = pd.DataFrame(data, columns = columns)
df

   age             job      city
0   31  data scientist   chicago
1   28  data scientist  new york
2   28            None      None

In the first example we had to store the null values of our DataFrame. However, when we use Json data we can leave it out. Notice below that we have three documents or elements in our Json data, with the keys brian, james and jim.

For jim, we have information about his job or his city, so we leave it blank. Therefore, storing the following data will allow us not to store the null values.

{ 
  
  "brian" { "age":31, "job":data scientist, "city":chicago },

"james":{ "age":28, "job":data scientist, "city":new york },

"jim":{ "age":28,
} 

}

Sometimes Json data is nested, which means we have dictionaries within dictionaries. Next, each element of our Json data has a nested element of Json data for fitness. Thus, if we wanted to work with the Json data as a DataFrame, we would have to unpack the nested Json data. Pandas has a function called json_normalize() that will decompress the Json data for us.

In [167]:
data = [
  {'id': 1,
  'name': "Cole Volk",
  'physical state': {'height': 130, 'weight': 60}},

  {'name': "Mose Reg",
  'physical state': {'height': 130, 'weight': 60}},

  {'id': 2,
  'name': 'Faye Raker',
  'fitness': {'height': 130, 'weight': 60}}
]

In [168]:
data[0]["physical state"]

{'height': 130, 'weight': 60}

Notice that the nested element fitness is unpacked and the columns fitness.height and fitness.weight have been created, taking the two elements from the nested element.

Also notice the NaN under the id of index 1. It's there because the old value didn't exist. We can also set the "max_level" to tell Python how far we want to decompress the Json.

In [169]:
from pandas.io.json import json_normalize

In [171]:
json_normalize(data)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

,id,name,physical state.height,physical state.weight,fitness.height,fitness.weight
0,1.0,Cole Volk,130.0,60.0,NaN,NaN
1,NaN,Mose Reg,130.0,60.0,NaN,NaN
2,2.0,Faye Raker,NaN,NaN,130.0,60.0

In [172]:
df = json_normalize(data, max_level = 0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [173]:
df

,id,name,physical state,fitness
0,1.0,Cole Volk,"{'height': 130, 'weight': 60}",NaN
1,NaN,Mose Reg,"{'height': 130, 'weight': 60}",NaN
2,2.0,Faye Raker,NaN,"{'height': 130, 'weight': 60}"