<a href="https://colab.research.google.com/github/thecodemancer/study-with-me/blob/main/python/python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 🐍 Python 101
## Let's do this!

In [2]:
from platform import python_version
print(python_version())

3.7.13

## Variables and printing some texts

In [3]:
a = 2
b = 5
c = "Some text"
print("Variable a:", a)
print("Variable b:", b)
print("Variable c:", c)

Variable a: 2
Variable b: 5
Variable c: Some text

## Using Python as a calculator

In [4]:
2 + 2

4

In [5]:
5 - 2

3

In [6]:
5 * 5

25

In [7]:
10/3

3.3333333333333335

In [8]:
10//3

3

In [9]:
10%3

1

In [10]:
5**2

25

In [11]:
2 == 2

True

In [12]:
5 != 2

True

In [13]:
5 > 10

False

In [14]:
5 >= 5

True

In [15]:
x = "string"
y = 'string'
print(x)
print(y)
print(type(x))
print(type(y))

string
string
<class 'str'>
<class 'str'>

In [16]:
x = 5
print(5)
print(type(x))

5
<class 'int'>

In [17]:
x = 5.12
print(x)
print(type(x))

5.12
<class 'float'>

In [18]:
x = True
y = False
print(x)
print(y)
print(type(x))
print(type(y))

True
False
<class 'bool'>
<class 'bool'>

## Iterables

### List

- It can be modified (mutable).
- It can have duplicates.
- It can include different data types.
- You can declare a list by using brackets [] and each value must be separated by commas inside those brackets.
- It's ordered.

In [19]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [20]:
my_list_2 = ["A", 1, 2, 2.4, "B"]
print(my_list_2)

['A', 1, 2, 2.4, 'B']

In [21]:
my_list.append(5)
print(my_list)

[1, 2, 3, 4, 5, 5]

In [22]:
my_list.insert(0, "new_item")
print(my_list)

['new_item', 1, 2, 3, 4, 5, 5]

In [23]:
my_list.insert(2, "new_item 2")
print(my_list)

['new_item', 1, 'new_item 2', 2, 3, 4, 5, 5]

In [24]:
print(len(my_list))

8

In [25]:
my_list[0]

'new_item'

In [26]:
my_list[0]='lalalalalalala'
print(my_list[0])

lalalalalalala

In [27]:
print(my_list)

['lalalalalalala', 1, 'new_item 2', 2, 3, 4, 5, 5]

In [28]:
my_list[-1]

5

In [29]:
nested_list = [
 [1,2],
 [2,3],
 [3,3]
]
print(nested_list[0])

[1, 2]

In [30]:
nested_list = [
 [1,2],
 [2,3],
 [3,8]
]
print(nested_list[0][1])
print(nested_list[1][1])
print(nested_list[2][1])

2
3
8

In [31]:
my_list = [1, 2, 3, 4, 5]
my_list[0:2]

[1, 2]

In [32]:
my_list = [1,2,3,4,3,3,3,3,5]
print(my_list.count(3))

5

### Tuple
- It **can't** be modified (immutable).
- It can have mixed data types.
- Use perenthesis to declare a tuple or use the function tuple().
- It's ordered.

In [33]:
my_tuple = (1,2,3,4)
print(my_tuple)

(1, 2, 3, 4)

In [34]:
my_tuple_2 = (1,2,3,4,"five")
print(my_tuple_2)

(1, 2, 3, 4, 'five')

In [35]:
sum(my_tuple)

10

In [36]:
len(my_tuple)

4

In [37]:
sum(my_tuple_2)

TypeError: ignored

In [38]:
my_tuple[0]

1

In [39]:
my_tuple[1:3]

(2, 3)

In [40]:
my_tuple[0]='lalalalla'

TypeError: ignored

### Set
- Contains only unique elements.
- It can have mixed data types.
- You declare a set by using curly brackets {}. You can also use the function set() to declare a set.
- It's unordered.
- Non-indexed. You can't create a subset by using brackets.

In [42]:
my_set = {1,2,3,4,5,5,5,5,5}
print(my_set)

{1, 2, 3, 4, 5}

In [43]:
my_set_2 = {1,2,3,4,5,5,5,5,5,"b","a"}
print(my_set_2)

{1, 2, 3, 4, 5, 'b', 'a'}

In [44]:
my_set_2[0]

TypeError: ignored

In [45]:
len(my_set_2)

7

In [46]:
sum(my_set)

15

In [47]:
sum(my_set_2)

TypeError: ignored

In [48]:
a = {1,2,3}
b = {3,4,5}

intersection = a&b

union = a|b

print(intersection)
print(union)

{3}
{1, 2, 3, 4, 5}

Zip mixes iterables to create nested tuples. That is, it combines items indexed at 0 in a tuple, items indexed at 1 in a tuple, and
continue until they have been mixed. Below we can see that lists "a" and "b" have been converted to a list of tuples.

In [49]:
a = [1,2,3,4,5]
b = ["a","b","c","d","e"]
c = zip(a,b)
print(c)

<zip object at 0x7f5181b4baa0>

We'll put the contents of zip in a list, so we end up with a list of tuples

In [50]:
c = list(c)
print(c)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [51]:
len(c)

5

In [52]:
print(type(c[0]) )

<class 'tuple'>

### Diccionaries
- They have Key-value pairs.
- They are unordered.
- They do not have repeated keys, although they can have repeated values.

In [53]:
my_dct = {
 "a": 1,
 "b": 2,
 "c": 3,
 "d": 3
}
print(my_dct)

{'a': 1, 'b': 2, 'c': 3, 'd': 3}

In [54]:
my_dct.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [55]:
my_dct.values()

dict_values([1, 2, 3, 3])

In [56]:
my_dct["a"]

1

In [57]:
my_dct = {
 1:"Brian",
 2:"Jane",
 2:"John"
}
# note that 2 is a key that is being declared twice

In [58]:
print(my_dct[1])

Brian

In [59]:
print(my_dct[2])

John

In [60]:
print(my_dct[2])

John

In [61]:
my_dct.values()

dict_values(['Brian', 'John'])

In [63]:
my_dct = {

 1:{"first_name":"Brian"},
 2:{"first_name":"Jane", "last_name":"Doe"},
 3:{"first_name":"John", "last_name":"Doe"}
}

In [64]:
print(my_dct[2])

{'first_name': 'Jane', 'last_name': 'Doe'}

In [65]:
print(my_dct[2]["last_name"])

Doe

In [66]:
"a" in my_dct

False

In [67]:
1 in my_dct

True

## Conditionals

In [68]:
x = 5
if x < 5:
 print("x is less than 5")
else:
 print("x is more or equal than 5")

x is more or equal than 5

In [69]:
x = 1
if x < 2:
 print("x is less than 2")
elif x < 4:
 print("x is less than 4")
else:
 print("x is less than 4")

x is less than 2

In [70]:
x = 5
if x == 0:
 print("x is equal to 0")
elif x == 1:
 print("x is equal to 1")
elif x == 2:
 print("x is equal to 2")
elif x == 3:
 print("x is equal to 3")
elif x == 4:
 print("x is equal to 4")
else:
 print("x is not equal to 0, 1, 2, 3 or 4")

x is not equal to 0, 1, 2, 3 or 4

### Nested Conditionals

In [71]:
x = 5
if x < 10:

 if x < 7:
  print("x is less than 7")
 else:
  print("x is less than 10 but not less than 7")

else:
 print("x is not less than 10")

x is less than 7

In [72]:
6%2 == 0 and 6%3 == 0

True

In [73]:
4%2 == 0 and 4%3 == 0

False

In [74]:
x = 6
if x%2 == 0 and x%3 ==0:
 print("x is divisible by 2 and 3")
else:
 print("x is not divisible by 2 and 3")

x is divisible by 2 and 3

In [75]:
my_list = [1,2,3,4,5]
for i in my_list:
 print(i)

1
2
3
4
5

In [76]:
my_list = [1,2,3,4,5]
for i in my_list:
 print(i*2)

2
4
6
8
10

In [78]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for item in my_list:

 if item%2 == 0:
  print("This number is even:", item)
 else:
  print("This number is odd:", item)

This number is odd: 1
This number is even: 2
This number is odd: 3
This number is even: 4
This number is odd: 5
This number is even: 6
This number is odd: 7
This number is even: 8
This number is odd: 9
This number is even: 10