<a href="https://colab.research.google.com/github/thecodemancer/study-with-me/blob/main/coding-challenges/python/leap_year.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div style="display: inline-block; margin: 0 auto; width: 200px">
<img src="https://media.wired.co.uk/photos/606d9d6d20fc96acca6d3a32/master/w_1600%2Cc_limit/leapyear.jpg" width="200px"  />
</div>

# Leap Year
An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. [Source](https://www.timeanddate.com/date/leapyear.html)

**Task**

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

**Input Format**

Read , the year to test.

**Constraints**

1900 <= year <= 10 ** 5

**Output Format**

The function must return a Boolean value (True/False). Output is handled by the provided code stub.

Sample Input: 1990

Sample Output: False

Explanation: 1990 is not a multiple of 4 hence it's not a leap year.

In [2]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if (year%4==0):
        leap = True 
        if (year%100==0):
            leap = False
            if (year%400==0):
                leap = True    
                
    return leap

year = int(input())
print(is_leap(year))

1900
False

In [3]:
year = int(input())
print(is_leap(year))

2000
True

In [4]:
year = int(input())
print(is_leap(year))

2400
True

In [5]:
year = int(input())
print(is_leap(year))

2022
False